@model IEnumerable<NoteTrip.Models.TouristAttraction>

@{
    ViewData["Title"] = "Index";
}

<h1>Tourist attractions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get" asp-action="Index" class="mb-3">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="countryId">Country</label>
            <select name="countryId" class="form-control" onchange="this.form.submit()" asp-items="ViewBag.CountryId">
                <option value="">-- All countries --</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="regionId">Region</label>
            <select name="regionId" class="form-control" onchange="this.form.submit()" asp-items="ViewBag.RegionId">
                <option value="">-- All regions --</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="cityId">City</label>
            <select name="cityId" class="form-control" onchange="this.form.submit()" asp-items="ViewBag.CityId">
                <option value="">-- All cities --</option>
            </select>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
    @if(item.City.Region.Country.UserLogin == Context.Session.GetString("login"))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
